body{
    background-color: aqua;
}
*{
    margin: 0;
    padding: 0;
}
nav{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
}
nav ul{
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 70px;
  background-color: blue; 
}
nav ul li{
  padding:0 12px;
}
.brand img{
  height:63px;
  padding: 0 4px;
}
.brand{
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}
.container{
  min-height: 70vh;
  background-color:royalblue;
  font-family: "Nunito", sans-serif;
  display: flex;
  width: 70%;
  padding: 23px;
  border-radius: 12px;
  margin: 12px auto;
  background-image: url('image3.jpg');
  background-size:auto;
}
.bottom{
  position: sticky;
  height: 130px;
  background-color: burlywood;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 13px 0px;
}
.icons{
  margin-top:auto;
}
.icons i{
  cursor: pointer;
}
#MyprogressBar{
  width: 90vw;
  text-align: center;
  cursor: pointer;
} 
.songItem{
height: 60px;
display: flex;

background-color: rgb(9, 4, 32);
color: aliceblue;
margin: 15px 0;
justify-content: space-between;
align-items: center;
border-radius: 10px;
}
.songItem img{
width: 40px;
margin: 0 23px;
border-radius: 23px;
}
.timestamp{
  margin: 0 34px;
}
.timestamp i{
  cursor: pointer;
}
.songitemcontainer{
  margin-top: 86px;
}
.songinfo{
  left: 5vw;
  position: absolute;
  font-family: "Nunito", sans-serif;
}
.songinfo img{
  opacity: 0;
  transition: opacity is ease-in;
}